body { background-color: #f5f7f8; }

.dark {
	background-color: #222526;
	color: white;
}
.navbar.dark .pure-menu-link:hover {
	background-color: #36393e;
}
.card, .tab, .workspace {
	background-color: white;
}
.alert {
	background: #f1c40f;
	color: #fff;
}

th { border-left: none !important; }
form input[type=text]:hover, form input[type=email]:hover, form input[type=password]:hover {
	border: 1px solid #aaa;
}