* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.pure-g [class*=pure-u] {
	font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none; }

input {
	border-radius: 0 !important;
	box-shadow: none !important;
}

.bold { font-weight: bold; }

.pure-button {
	font-weight: bold;
}

.pure-table td {
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

.withshadow {
	border: none;
	border-radius: 0;
	box-shadow:
		0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}
.hovershadow:hover {
	box-shadow:
		0 3px 3px 0 rgba(0,0,0,0.2),
		0 2px 6px 0 rgba(0,0,0,0.2),
		0 4px 2px -3px rgba(0,0,0,0.3);
}

.nobottompadding {
	padding-bottom: 0 !important;
}

.card {
	padding: 8px;
	margin: 5px;
}

.card button, .modalContent button, .tab button, .messagebanner button {
	float: right;
}

.workspace {
	padding: 10px 15px;
	margin: 0;
}

.cell {
	padding: 0 !important;
	height: 0;
}
.cell input, .cell .Select {
	padding-left: 6px;
	padding-right: 6px;
	border: none;
	height: 100%;
	width: 100%;
}

.Select {
	min-width: 150px;
	display: inline-block;
	margin-bottom: -13px;
	top: -5px;
}
.Select * {
	border-radius: 0;
}
.pure-g .Select {
	width: 100%;
}
.pure-table .Select-control {
	border: 0;
	border-radius: 0;
	background-color: transparent;
}
.Select-input input {
	border: 0 !important;
	box-shadow: none !important;
}
.sortfiltergroup .Select {
	float: right;
	width: 85%;
	margin-bottom: 10px;
}
.sortfiltergroup i.fa {
	float: right;
	position: relative;
	top: 3px;
	left: -3px;
}
.sortfiltergroup, .sortfiltergroup .pure-u-1 {
	padding: 0 5px;
}

.alert {
	margin: 1em 1em;
	padding: 0.3em 0.6em;
	border-radius: 3px;
}

.pure-menu-heading {
	text-transform: none;
}

.pure-menu-link:focus {
	background-color: transparent !important;
}

.navbar {
	font-weight: bold;
	position: fixed;
	top: 0;
	z-index: 200;
}
.navbar .pure-menu-heading {
	color: white !important;
}
.navbar-container {
	height: 40px;
}
.navbar span:hover {
	background-color: transparent;
}

.list {
	margin: 5px;
	padding: 5px;
}
.list h4 {
	margin: 0 5px;
}
.carddropzone {
	height: 100%;
}
.dragging, .placeholder {
	opacity: 0.5;
}

.list, .card {
	touch-action: none;
}

.fa-question-circle-o {
	color: grey;
	cursor: help;
}

.blocktexthighlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.calendar .weekday {
	text-align: center;
	padding: 8pt;
}
.calendar .day {
	min-height: 80px;
	height: 100%;
	border-left: 1pt solid black;
	border-top: 1pt solid black;
	padding: 4pt;
}
.calendar .day .date {
	text-align: right;
}

.fa-expand {
	color: grey;
}

.pure-u-1-7 {
	width: 14.2857143%;
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    display: inline-block;
    zoom: 1;
}