* { box-sizing: border-box }

body { background-color: honeydew; }

a { text-decoration: none; }

.pure-table td {
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

.withshadow {
	border: none;
	border-radius: 2px;
	box-shadow:
		0 2px 2px 0 rgba(0,0,0,0.14),
		0 1px 5px 0 rgba(0,0,0,0.12),
		0 3px 1px -2px rgba(0,0,0,0.2);
}

.nobottompadding {
	padding-bottom: 0 !important;
}

.card {
	background-color: white;
	padding: 5px;
	margin: 5px;
}

.card button, .modalContent button {
	float: right;
}

.tabs {
	border-bottom: 1px solid grey;
}
.tab {
	background-color: white;
	border: 1px solid grey;
	border-bottom: none;
	margin: 0 3px;
}
.pure-menu-selected .tab {
	position: relative;
	top: 1px;
}

.workspace {
	background-color: white;
	padding: 10px;
}

.cell {
	padding: 0 !important;
	height: 0;
}
.cell input {
	padding-left: 6px;
	padding-right: 6px;
	border: none;
	height: 100%;
	width: 100%;
}
