#collectionNavWide, #collectionNavNarrow {  margin-top: 5px; }

#collectionNavWide {
	display: none;
	width: 100%;
	overflow: auto;
}
#collectionNavNarrow {
	display: inherit;
	height: 40px;
	padding: 0 8px;
}
#collectionNavNarrow .Select {
	top: 0;
}

@media screen and (min-width: 35.5em) {
	#collectionNavWide { display: inherit; }
	#collectionNavNarrow { display: none; }
}